.filterbar {
    position: relative;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 1.70666667rem;
    color: #333;
    background-color: #fff;
    font-size: 14px;
}

.search-btn {
    display: inline-block;
    width: 1.728rem;
    height: 1.728rem;
    right: 0;
    font-size: .85333333rem;
    text-align: center;
    line-height: 1.728rem;
    color: #000;
}
.gradient-mask, .search-btn {
    position: absolute;
    top: 0;
    z-index: 34;
}
a, a:active, ins {
    text-decoration: none;
}
html * {
    outline: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.gradient-mask {
    width: 1.536rem;
    height: 1.62133333rem;
    right: 1.728rem;
    background: linear-gradient(left,hsla(0,0%,100%,0),#fff 90%,#fff);
    background: -webkit-linear-gradient(left,hsla(0,0%,100%,0),#fff 90%,#fff);
}

.search-btn {
    display: inline-block;
    width: 1.728rem;
    height: 1.728rem;
    right: 0;
    font-size: .85333333rem;
    text-align: center;
    line-height: 1.728rem;
    color: #000;
}
.gradient-mask, .search-btn {
    position: absolute;
    top: 0;
    z-index: 34;
}

.iconfont {
    font-family: iconfont!important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
}
html * {
    outline: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.gradient-mask, .search-btn {
    position: absolute;
    top: 0;
    z-index: 34;
}
.gradient-mask {
    width: 1.536rem;
    height: 1.62133333rem;
    right: 1.728rem;
    background: linear-gradient(left,hsla(0,0%,100%,0),#fff 90%,#fff);
    background: -webkit-linear-gradient(left,hsla(0,0%,100%,0),#fff 90%,#fff);
}

.filterbar-inner-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 29;
    width: 100%;
    background-color: #fff;
    -webkit-overflow-scrolling: touch;
    height: 1.70666667rem;
    overflow: hidden;
}

.filterbar-inner-mask {
    position: absolute;
    z-index: 2;
    width: 14.5rem;
    overflow: auto;
    color: #b0b0b0;
    background-color: #fff;
}
.hidden {
    display: none;
}
.hidden {
    display: none!important;
    visibility: hidden!important;
}

.filterbar-inner-mask p {
    height: 1.70666667rem;
    overflow: hidden;
    line-height: 1.70666667rem;
    text-align: center;
    text-indent: 1.5rem;
}

.filterbar-inner-wrapper {
    float: left;
    width: 14.5rem;
    padding-left: .6rem;
    overflow: auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 2.13333333rem;
}

.filterbar-inner, .filterbar-inner-item {
    height: 1.70666667rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.filterbar-inner {
    padding-bottom: .256rem;
    overflow: hidden;
}

filterbar-inner-item.active {
    color: #ff4965;
    border-bottom: .1rem solid #ff4965;
}
.filterbar-inner-item {
    position: relative;
    float: left;
    text-align: center;
    padding: 0 .4rem;
    line-height: 1.70666667rem;
    cursor: pointer;
}
.filterbar-inner, .filterbar-inner-item {
    height: 1.70666667rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}